*{
  margin: 0;
  padding: 0;
}
.root{
    border:1px solid lightgrey;   
    box-shadow:1px gray; ;
    border-radius:10px ;
    margin: 2% 8% 10% 10%;
    padding :4%;
    width:70%;
    height:100%;
    
}
.logo {
    height:auto;
    width: 30%;
    margin-left:35%

  }  
  .firstText{
   margin-left: 35%;
    font-size: 6.1vw;
    font-family:Roboto;
    
  } 
.secondText{
    margin-left:25%;
   margin-top: 2%;
   font-size: 4.1vw;
}

.dropdownbtn{
  color: cornflowerblue;
  font-weight: bold;
}

.dropbtn {
  background-color:white;
  color: white;
 
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(178, 199, 216);
  padding: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 220px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


  @media only screen and (min-width:1025px){

    .root {
        margin: 2% 15% 10% 30%;
        width:30%;    
        }
    
    .logo {
            width: 20%;
            /* margin-bottom:2%; */
          }  
          .firstText{
            font-size: 2.1vw;
            
          } 

          .secondText{
            margin-left:27%;
          
           font-size: 1.3vw;
        }
  }

